/vendor/
/node_modules/
/build/
composer.lock
package-lock.json
.env
.env.backup
.phpunit.result.cache
.phpunit.cache/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
